body {
    background-color: black;
    color: #ebebeb;
}
header{
    text-align: center;
    margin-bottom: 200px;
    margin-top: 50px;

}

#startBtn{
    margin-top: 15px;
    padding: 10px;
}
.container{
    background-color: #2b1031;
    border: solid;
    border-color: #ffffff;
}
#doneBtn{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #501ddd;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}


